body {
    background-color: orange;
}

header {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
margin-bottom:60px;
 margin-top: 60px;
}

.karty {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.trzy {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}